@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @import url(https://fonts.bunny.net/css?family=roboto:300,400,900);
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}


body {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8) ), url('/background.jpg');
    background-size: cover;
}

@media (min-width: 640px) {
    body {
        background-attachment: fixed;
    }
}